body {
  margin: auto;
  font-family: Roboto, Helvetica, sans-serif;
  color: black;
}

:root {
  --primary-color: #183654;
  --secondary-color: #a2d1e7;
  --ternary-color:#799aaa;
  --border-color: #183654;
  --mode-color: #d4d1d1;
  --post-back-col: white;
  --text-color:black;
  --table-back-col:#cee9f1;
  --scroll-col:#304e6b;
  --footer-col: #f8f8f8;
  --bottom-col: #d4d1d1;
}

.dark_theme {
  --primary-color: #1e2a3a;
  --secondary-color: #111821;
  --ternary-color: #223349;
  --border-color: #fff;
  --mode-color: #555557b9;
  --post-back-col: #1e2a3a;
  --text-color:white;
  --table-back-col:#1e2a3a;
  --scroll-col:#1d2e44;
  --footer-col:#18202b;
  --bottom-col: #273241;
}

.container {
  width: 100%;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
.container .content {
  width: 75%;
  background-color: var(--secondary-color);
}
@media only screen and (max-width: 768px) {
  .container .content {
    width: 100%;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  padding: 2% 0;
}
@media only screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    height: max-content;
    position: relative;
    top: 0;
    font-size: 0.8rem;
  }
}
.navbar .mode {
  text-align: center;
  line-height: 1.5;
  margin: 11% 0;
}
@media only screen and (max-width: 768px) {
  .navbar .mode {
    margin: 4% 0;
  }
}
@media only screen and (max-width: 425px) {
  .navbar .mode {
    margin: 6% 0;
  }
}
.navbar .mode #toggle {
  position: relative;
  display: block;
  width: 69px;
  margin: auto;
  height: 25px;
  margin-top: 8%;
  border-radius: 160px;
  border: 4px solid var(--mode-color);
  transition: 0.5s;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .navbar .mode #toggle {
    width: 57px;
    height: 20px;
    margin-top: 4%;
  }
}
@media only screen and (max-width: 425px) {
  .navbar .mode #toggle {
    margin-top: 7%;
  }
}
.navbar .mode .indicator {
  position: absolute;
  top: 3px;
  left: 4px;
  width: 23px;
  align-items: center;
  height: 19px;
  background-color: var(--mode-color);
  border-radius: 43%;
  transform: scale(0.9);
  transition: 0.5s;
}
@media only screen and (max-width: 768px) {
  .navbar .mode .indicator {
    width: 25px;
    height: 14px;
  }
}
.navbar .mode #toggle.active .indicator {
  left: 38px;
}
.navbar .hr {
  background-color: rgba(255, 255, 255, 0.582);
  height: 1px;
  width: 85%;
  margin: auto;
  margin-top: 7%;
}
@media only screen and (max-width: 768px) {
  .navbar .hr {
    margin: 4%;
  }
}
.navbar .name {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 9%;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .navbar .name {
    margin: 0% 2%;
    margin-top: 1%;
  }
}
.navbar .name label {
  color: #fff;
  font-size: 1.2rem;
  display: none;
}
@media only screen and (max-width: 768px) {
  .navbar .name label {
    display: block;
    float: right;
    cursor: pointer;
  }
}
@media only screen and (max-width: 768px) {
  .navbar .minimize {
    display: none;
    margin-top: 3%;
  }
}
.navbar .minimize .profile {
  width: 100%;
  margin-top: 0;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .navbar .minimize .profile {
    margin-top: 0;
  }
}
.navbar .minimize .profile .profle_pic {
  width: 120px;
  margin: auto;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 425px) {
  .navbar .minimize .profile .profle_pic {
    width: 120px;
    height: 120px;
  }
}
.navbar .minimize .profile .profle_pic .initial {
  font-size: 5em;
  font-weight: bold;
  color: #183654;
}
@media only screen and (max-width: 425px) {
  .navbar .minimize .profile .profle_pic .initial {
    font-size: 6em;
  }
}
.navbar .minimize .profile .profile_info {
  color: white;
  margin: 9%;
  font-size: 0.9rem;
  text-align: center;
  padding: 0 5%;
  line-height: 1.5;
}
@media only screen and (max-width: 768px) {
  .navbar .minimize .profile .profile_info {
    margin: 4%;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 425px) {
  .navbar .minimize .profile .profile_info {
    margin: 7%;
    font-size: 0.8rem;
  }
}
.navbar .minimize .nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
  margin: 9% 0;
}
@media only screen and (max-width: 768px) {
  .navbar .minimize .nav {
    margin: 4%;
  }
}
@media only screen and (max-width: 425px) {
  .navbar .minimize .nav {
    margin: 6%;
  }
}
.navbar .minimize .nav .nav_block {
  margin: 3% 0;
}
@media only screen and (max-width: 768px) {
  .navbar .minimize .nav .nav_block {
    margin: 3%;
  }
}
@media only screen and (max-width: 425px) {
  .navbar .minimize .nav .nav_block {
    margin: 5%;
  }
}
.navbar .navitem {
  color: white;
  font-size: 0.9em;
  font-weight: bold;
}
.navbar .fas {
  color: white;
}
.navbar .text_deco_none {
  text-decoration: none;
}

.filter {
  display: none;
  text-align: center;
  color: white;
  font-size: 1.7em;
  font-weight: bold;
  margin: 9%;
}
@media only screen and (max-width: 768px) {
  .filter {
    margin: 10px 0;
    font-size: 22px;
    line-height: 25px;
  }
}

.footer {
  width: 100%;
  background-color: var(--footer-col);
  color: var(--border-color);
}
@media only screen and (max-width: 1024px) {
  .footer {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .footer {
    font-size: 12px;
  }
}
@media only screen and (max-width: 425px) {
  .footer {
    line-height: 1.5;
  }
}
.footer .footer-cont {
  display: flex;
  flex-wrap: wrap;
  width: 82%;
  margin: auto;
  padding: 1rem 0;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .footer .footer-cont {
    font-size: 12px;
    width: 90%;
  }
}
.footer .footer-cont .foot-info-div {
  width: 42%;
  display: flex;
  flex-direction: column;
}
.footer .footer-cont .foot-info-div .about-info {
  text-align: justify;
}
@media only screen and (max-width: 425px) {
  .footer .footer-cont .foot-info-div {
    width: 100%;
  }
}
.footer .footer-cont .foot-div {
  width: max-content;
  display: flex;
  flex-direction: column;
  padding: 0 4%;
}
@media only screen and (max-width: 425px) {
  .footer .footer-cont .foot-div {
    width: max-content;
    margin: 9px -3%;
  }
}
.footer .footer-cont .foot-div .foot-link {
  text-decoration: none;
  color: var(--border-color);
}
.footer .foot-icon {
  width: max-content;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 6px 0;
  line-height: 3;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .footer .foot-icon {
    line-height: 2.5;
  }
}
.footer .foot-icon h4 {
  margin: 0;
}
.footer .foot-icon .icons .fab, .footer .foot-icon .icons .fas {
  color: var(--border-color);
  font-size: 1.5rem;
  margin: 9px;
}
@media only screen and (max-width: 768px) {
  .footer .foot-icon .icons .fab, .footer .foot-icon .icons .fas {
    font-size: 1.3rem;
    margin: 7px;
  }
}
.footer .footer-bottom-text {
  text-align: center;
  background: var(--bottom-col);
  color: var(--border-color);
  padding: 15px 0;
  margin: 0;
}

.post_notify {
  text-align: center;
  width: 70%;
  margin: auto;
  margin-top: 4%;
  padding: 6px 0;
  color: #085008;
  background: #a6daa6;
}

body {
  margin: 0;
}

.content_head {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 6% 0;
  color: var(--text-color);
}
@media only screen and (max-width: 768px) {
  .content_head {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 425px) {
  .content_head {
    font-size: 1.2rem;
  }
}

.new_post {
  border: 1px solid var(--text-color);
  width: 24%;
  margin: auto;
  padding: 12px 18px;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 7%;
}
@media only screen and (max-width: 1024px) {
  .new_post {
    width: 32%;
  }
}
@media only screen and (max-width: 768px) {
  .new_post {
    width: 57%;
  }
}
@media only screen and (max-width: 320px) {
  .new_post {
    width: 78%;
  }
}
.new_post:hover {
  background-color: var(--primary-color);
}
.new_post:hover .newbtn {
  color: white;
}
.new_post .newbtn {
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
}

.blog_post {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.blog_post .blog_div {
  width: 270px;
  height: 500px;
  overflow: hidden;
  border-radius: 12px;
  background-color: var(--post-back-col);
  color: var(--text-color);
  margin: 2% 2%;
  position: relative;
  box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 1200px) {
  .blog_post .blog_div {
    width: 220px;
    height: 392px;
  }
}
@media only screen and (max-width: 425px) {
  .blog_post .blog_div {
    width: 100%;
    height: 100%;
    margin: 6% 0%;
    border-radius: 0;
  }
}
.blog_post .blog_div .blog_img {
  height: 46%;
}
@media only screen and (max-width: 1200px) {
  .blog_post .blog_div .blog_img {
    height: 45%;
  }
}
.blog_post .blog_div .blog_img .main_img {
  width: 100%;
  height: 100%;
}
.blog_post .blog_div .blog_data {
  overflow: auto;
  padding: 14px;
}
@media only screen and (max-width: 1200px) {
  .blog_post .blog_div .blog_data {
    padding: 10px;
  }
}
@media only screen and (max-width: 425px) {
  .blog_post .blog_div .blog_data {
    width: 85%;
    margin: 6% 2%;
    min-height: 180px;
  }
}
.blog_post .blog_div .blog_data .head {
  margin: 1% 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--primary-color);
}
@media only screen and (max-width: 1200px) {
  .blog_post .blog_div .blog_data .head {
    font-size: 1rem;
  }
}
.blog_post .blog_div .blog_data .img_data {
  font-size: 1rem;
  line-height: 1.6;
  margin: 5% 1%;
  text-align: justify;
  color: #787c81;
  max-height: 140px;
  overflow-y: auto;
}
@media only screen and (max-width: 1200px) {
  .blog_post .blog_div .blog_data .img_data {
    font-size: 0.7rem;
    max-height: 115px;
    overflow-y: auto;
  }
}
.blog_post .blog_div .blog_data .author {
  font-size: 12px;
  color: #a2a1a9;
  position: absolute;
  right: 17px;
  bottom: 34px;
}
.blog_post .blog_div .blog_data .read_btn {
  text-decoration: none;
  color: var(--text-color);
  position: absolute;
  bottom: 29px;
  color: white;
  font-size: 12px;
  padding: 5px 7px;
  box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: var(--scroll-col);
}