.navbar {
  height: 6em;
  padding: 0 6%;
  padding-top: 4%;
}
.navbar .logo_div {
  display: inline;
}
.navbar .logo_div .logo {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
@media only screen and (max-width: 425px) {
  .navbar .logo_div .logo {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 425px) {
  .navbar {
    padding-top: 7%;
  }
}
.navbar label {
  color: #fff;
  font-size: 1.5rem;
  display: none;
}
@media only screen and (max-width: 768px) {
  .navbar label {
    display: block;
    float: right;
    cursor: pointer;
  }
}
@media only screen and (max-width: 425px) {
  .navbar label {
    font-size: 1.2rem;
  }
}
.navbar .navitem {
  float: right;
}
@media only screen and (max-width: 768px) {
  .navbar .navitem {
    display: none;
    width: 100%;
  }
}
.navbar .navitem .nav {
  text-decoration: none;
  color: #fff;
  padding: 0 12px;
  font-size: 1.2rem;
}
@media only screen and (max-width: 768px) {
  .navbar .navitem .nav {
    display: block;
    font-size: 1rem;
    margin: 20px 0;
  }
}
@media only screen and (max-width: 425px) {
  .navbar .navitem .nav {
    font-size: 0.9rem;
    margin: 16px 0;
  }
}
.navbar .navitem .nav:hover {
  color: #052d4e;
  text-decoration: underline;
}
.navbar .toggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  .navbar input[type=checkbox]:checked ~ .navitem {
    text-align: center;
    display: block;
  }
}

.footer {
  width: 100%;
  background-color: var(--footer-col);
  color: var(--border-color);
}
@media only screen and (max-width: 1024px) {
  .footer {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .footer {
    font-size: 12px;
  }
}
@media only screen and (max-width: 425px) {
  .footer {
    line-height: 1.5;
  }
}
.footer .footer-cont {
  display: flex;
  flex-wrap: wrap;
  width: 82%;
  margin: auto;
  padding: 1rem 0;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .footer .footer-cont {
    font-size: 12px;
    width: 90%;
  }
}
.footer .footer-cont .foot-info-div {
  width: 42%;
  display: flex;
  flex-direction: column;
}
.footer .footer-cont .foot-info-div .about-info {
  text-align: justify;
}
@media only screen and (max-width: 425px) {
  .footer .footer-cont .foot-info-div {
    width: 100%;
  }
}
.footer .footer-cont .foot-div {
  width: max-content;
  display: flex;
  flex-direction: column;
  padding: 0 4%;
}
@media only screen and (max-width: 425px) {
  .footer .footer-cont .foot-div {
    width: max-content;
    margin: 9px -3%;
  }
}
.footer .footer-cont .foot-div .foot-link {
  text-decoration: none;
  color: var(--border-color);
}
.footer .foot-icon {
  width: max-content;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 6px 0;
  line-height: 3;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .footer .foot-icon {
    line-height: 2.5;
  }
}
.footer .foot-icon h4 {
  margin: 0;
}
.footer .foot-icon .icons .fab, .footer .foot-icon .icons .fas {
  color: var(--border-color);
  font-size: 1.5rem;
  margin: 9px;
}
@media only screen and (max-width: 768px) {
  .footer .foot-icon .icons .fab, .footer .foot-icon .icons .fas {
    font-size: 1.3rem;
    margin: 7px;
  }
}
.footer .footer-bottom-text {
  text-align: center;
  background: var(--bottom-col);
  color: var(--border-color);
  padding: 15px 0;
  margin: 0;
}

body, html {
  margin: 0;
  height: 100%;
}

.navbar {
  position: relative;
  z-index: 2;
}

.main {
  background-image: url("../image/2.jpg");
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}
.main .main_div {
  display: flex;
  width: 65%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.main .main_div .main_quote {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffffd1;
  font-size: 1rem;
  line-height: 1.4;
  text-align: justify;
}
@media only screen and (max-width: 1024px) {
  .main .main_div .main_quote {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 768px) {
  .main .main_div .main_quote {
    position: relative;
    margin-top: 45%;
    font-size: 0.85rem;
    width: 85%;
  }
}
@media only screen and (max-width: 425px) {
  .main .main_div .main_quote {
    width: 100%;
    margin-top: 70%;
  }
}
.main .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
  background: linear-gradient(90deg, #020001 0%, #090979 35%, #00d4ff 100%);
  opacity: 0.8;
}

.box:before, .box:after {
  background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.img_div {
  background: url("../image/2.jpg");
  width: 100%;
  min-height: 60vh;
}
.img_div .quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffffd1;
  font-size: 2.5rem;
}
@media only screen and (max-width: 768px) {
  .img_div .quote {
    font-size: 2rem;
  }
}

.main, .img_div {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.info_div {
  background-color: #a1cae6f2;
  text-align: center;
  padding: 30px 0px;
}
@media only screen and (max-width: 1024px) {
  .info_div {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 768px) {
  .info_div {
    font-size: 0.8rem;
  }
}
.info_div .head {
  font-size: 1.8rem;
  color: #000;
  margin-bottom: 30px;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .info_div .head {
    font-size: 1.5rem;
    margin-bottom: 23px;
  }
}
@media only screen and (max-width: 425px) {
  .info_div .head {
    font-size: 1.3rem;
  }
}
.info_div .info_size {
  text-align: justify;
  font-size: 1rem;
  width: 85%;
  margin: auto;
  line-height: 1.4;
}
@media only screen and (max-width: 1024px) {
  .info_div .info_size {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 768px) {
  .info_div .info_size {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 425px) {
  .info_div .info_size {
    width: 75%;
  }
}

.blog {
  width: 100%;
  background-color: #a1cae6f2;
  padding-bottom: 8%;
}
.blog .content_head {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 6% 0;
}
@media only screen and (max-width: 768px) {
  .blog .content_head {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 425px) {
  .blog .content_head {
    font-size: 1.2rem;
  }
}
.blog .blog_post {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.blog .blog_post .blog_div {
  width: 270px;
  height: 500px;
  overflow: hidden;
  border-radius: 12px;
  background-color: white;
  color: var(--text-color);
  margin: 2% 2%;
  position: relative;
  box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
}
@media only screen and (max-width: 1200px) {
  .blog .blog_post .blog_div {
    width: 220px;
    height: 392px;
  }
}
@media only screen and (max-width: 425px) {
  .blog .blog_post .blog_div {
    width: 100%;
    height: 100%;
    margin: 6% 0%;
    border-radius: 0;
  }
}
.blog .blog_post .blog_div .blog_img {
  height: 46%;
}
@media only screen and (max-width: 1200px) {
  .blog .blog_post .blog_div .blog_img {
    height: 45%;
  }
}
.blog .blog_post .blog_div .blog_img .main_img {
  width: 100%;
  height: 100%;
}
.blog .blog_post .blog_div .blog_data {
  overflow: auto;
  padding: 14px;
}
@media only screen and (max-width: 1200px) {
  .blog .blog_post .blog_div .blog_data {
    padding: 10px;
  }
}
@media only screen and (max-width: 425px) {
  .blog .blog_post .blog_div .blog_data {
    width: 85%;
    margin: 6% 2%;
    min-height: 180px;
  }
}
.blog .blog_post .blog_div .blog_data .head {
  margin: 1% 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}
@media only screen and (max-width: 1200px) {
  .blog .blog_post .blog_div .blog_data .head {
    font-size: 1rem;
  }
}
.blog .blog_post .blog_div .blog_data .img_data {
  font-size: 1rem;
  line-height: 1.6;
  margin: 5% 1%;
  text-align: justify;
  color: black;
  max-height: 140px;
  overflow-y: auto;
}
@media only screen and (max-width: 1200px) {
  .blog .blog_post .blog_div .blog_data .img_data {
    font-size: 0.7rem;
    max-height: 115px;
    overflow-y: auto;
  }
}
.blog .blog_post .blog_div .blog_data .author {
  font-size: 12px;
  color: #282829;
  position: absolute;
  right: 17px;
  bottom: 34px;
}
.blog .blog_post .blog_div .blog_data .read_btn {
  text-decoration: none;
  position: absolute;
  bottom: 29px;
  color: white;
  font-size: 12px;
  padding: 5px 7px;
  box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #304e6b;
}

.blog_div:hover {
  transform: scale(1.05);
}