.navbar {
  height: 6em;
  padding: 0 6%;
  padding-top: 4%;
}
.navbar .logo_div {
  display: inline;
}
.navbar .logo_div .logo {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
@media only screen and (max-width: 425px) {
  .navbar .logo_div .logo {
    font-size: 1.2rem;
  }
}
.navbar label {
  color: #fff;
  font-size: 2rem;
  display: none;
}
@media only screen and (max-width: 768px) {
  .navbar label {
    display: block;
    float: right;
    cursor: pointer;
  }
}
@media only screen and (max-width: 425px) {
  .navbar label {
    font-size: 1.5rem;
  }
}
.navbar .navitem {
  float: right;
}
@media only screen and (max-width: 768px) {
  .navbar .navitem {
    display: none;
    width: 100%;
  }
}
.navbar .navitem .nav {
  text-decoration: none;
  color: #fff;
  padding: 0 12px;
  font-size: 1.2rem;
}
@media only screen and (max-width: 768px) {
  .navbar .navitem .nav {
    display: block;
    margin: 22px 0;
  }
}
.navbar .navitem .nav:hover {
  color: #052d4e;
  text-decoration: underline;
}
.navbar .toggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  .navbar input[type=checkbox]:checked ~ .navitem {
    text-align: center;
    display: block;
  }
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, #020001 0%, #090979 35%, #00d4ff 100%);
  background-attachment: fixed;
}

.box div {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 4px solid rgba(255, 255, 255, 0.8);
}

.box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 6s linear infinite;
}

.box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 8s linear infinite;
}

.box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 8s linear infinite;
}

.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 5s linear infinite;
}

.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 12s linear infinite;
}

.box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 14s linear infinite;
}

.box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 8s linear infinite;
}

.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 4s linear infinite;
}

.box div:nth-child(11) {
  top: 47%;
  left: 46%;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}
* {
  margin: 0;
}

.container {
  background-image: url("../image/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
}

.log_container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 300px;
  padding: 3rem 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  line-height: 2;
  background-color: rgba(255, 255, 255, 0.04);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}
@media only screen and (max-width: 425px) {
  .log_container {
    width: 86%;
    line-height: 3;
    padding: 3rem 0;
    padding-top: 1rem;
  }
}
.log_container form {
  width: 80%;
}

.head {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.input {
  display: flex;
  background-color: white;
  height: 25px;
  align-items: center;
  margin: 19px 1px;
}
.input .fa, .input .fas {
  margin: 1px 7px;
  font-size: 13px;
}
.input .form-control {
  font-size: 11px;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.remember_me {
  margin-top: 0;
  color: #aec9e9;
  font-size: 13px;
}

.signup {
  font-size: 15px;
  font-weight: bold;
  border: none;
  width: 100%;
  padding: 4px 3px;
  background-color: #3aa8e7;
  margin: 4px 0;
}
.signup:hover {
  background-color: #183654;
}

.login_ref {
  text-align: center;
  line-height: 2;
  font-size: 13px;
}
.login_ref .login_text {
  color: #fff;
}
.login_ref .login {
  text-decoration: none;
  color: #fff;
  color: #aec9e9;
}
.login_ref .login:hover {
  text-decoration: underline;
}