@import 'navbar';
@import 'footer';
@import 'mixin';

.body{
    margin: 0;
}

    .content_div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        .in_data{
            
            height: max-content;
            width: 55%;
            color: var(--text-color);
            background: var(--post-back-col);

            @include responsive(laptop_M){
                width: 45%;
            }          
            @include responsive(tablet){
                width: 55%;
            }
            @include responsive(mobile_M){
                width: 80%;
            }
            @include responsive(mobile_S){
                width: 90%;
            }

            form{
                margin: 15% 7%;

                @include responsive(laptop_M){
                    margin: 12% 7%;
                }
                
                .head{
                    text-align: center;
                    font-size: 1.8rem;
                    font-weight: bold;

                    @include responsive(laptop_M){
                        font-size: 1.3rem;
                    }
                }
                .form-group{
                    height: 30px;
                    width: 100%;
                    margin: auto;
                    height: 35px;
                    margin-top: 5rem;
                    line-height: 2.5;

                    @include responsive(laptop_M){
                        height: 27px;
                        margin-top: 2.5rem;
                        line-height: 1.5;
                    }
                    @include responsive(laptop){
                        margin-top: 3rem;
                        line-height: 1.6;    
                    }
                    @include responsive(tablet){
                        margin-top: 2.5rem;
                        line-height: 1.6;
                        height: 23px;
                    }
                    .label{
                        font-size: 18px;

                        @include responsive(laptop_M){
                            font-size: 14px;
                        }
                        @include responsive(tablet){
                            font-size: 13px;
                        }
                    }
    
                    .form-control{
                        height: 100%;
                        width: 100%;
                        font-size: 15px;
                        color: #a09d9d;

                        @include responsive(laptop_M){
                            font-size: 12px;
                        }
                    }
                }
                .form-btn{
                    display: flex;
                    margin-top: 37px;
                    justify-content: center;

                    @include responsive(laptop_M){
                        margin-top: 30px;
                    }
                    @include responsive(tablet){
                        margin-top: 10%;
                    }
                    .button{
                       
                        background: var(--secondary-color);
                        padding: 10px 14px;
                        text-align: center;
                        color: var(--border-color);
                        text-decoration: none;
                        border: none;
                        margin: 0 5%;
                        margin-top: 4rem;
                        font-weight: bold;
                        font-size: 1.2rem;

                        @include responsive(laptop_M){
                           
                        padding: 7px 7px;   
                        margin: 0 2%;
                        margin-top: 2rem;
                        font-size: 0.8rem;
                        }

                        @include responsive(tablet){
                            padding: 7px 23px;
                            margin: 0 3%;
                            margin-top: 2.5rem;
                        }
                    }
                    
                }
            }
        }
  
        
    }
