@import 'navbar';
@import 'footer';
@import 'mixin';
@import 'validation';


body{ 
    margin: auto;
    font-family: Roboto, Helvetica, sans-serif;
    color: black;
}

.index{
    
    
    .post_div{
        position: fixed;
        top: 3%;
        right: 1%;

        @include responsive(tablet){
            top: 15%;
        }
    }

    .user_div{
        position: fixed;
        top: 8%;
        right: 1%;

        @include responsive(tablet){
            top: 20%;
        }
    }

    .add_post_div{
        position: fixed;
        top: 13%;
        right: 1%;

        @include responsive(tablet){
            top: 25%;
        }
    }

    .add_user_div{
        position: fixed;
        top: 18%;
        right: 1%;

        @include responsive(tablet){
            top: 30%;
        }
    }

    .fas{
        font-size: 18px;
        color: white;
        padding: 3px 6px;
        width: 25px;
        background: #304e6b;


        @include responsive(laptop){
            font-size: 12px;
            color: white;
            padding: 4px 8px;
            width: 13px;
        }
    }

    .index_link{
        text-decoration: none;
        border: 1px solid black;
        border-radius: 5px;
        color: white;
        background: #304e6b;
        font-size: 11px;
        padding: 4px 26px;
        margin: 7px;
        display: none;
    }
      
}

.post_notify{
    text-align: center;
    margin: 0 17%;
    margin-top: 4%;
    padding: 6px 0;
    background: #a6daa6;
}


#manage_posts{
    background-color:  var(--secondary-color);
    width: 100%;
    height: 100vh;
}
   
#manage_users{
    background-color: var(--ternary-color);
    width: 100%;
    height: 100vh;
    padding-bottom: 11%;
}

.admin_manage{
    padding: 2% 0;

    .head{
        font-size: 1.8rem;
        color: #000;
        font-weight: bold;
        text-align: center;
        margin: 8% 0;

        @include responsive(tablet){
            font-size: 1.5rem;
        }
        @include responsive(mobile_M){
            font-size: 1.3rem;
       
        }
    }

    .utable_div{
        width: 82%;
        height: max-content;
        margin: auto;        
        overflow-y: auto;

        // @include responsive(laptop){
        //     width: 89%;
        //     margin-left: 15px;
        // }

        @include responsive(mobile_M){
            width: 84%;
            margin-left: 10px;
        }
        @include responsive(mobile_S){
            width: 82%;
            margin-left: 10px;
        }

       .user_table{
           line-height: 3;
           margin: auto;
           border-collapse: collapse;
           width: 100%;
           min-width: 811px;

           @include responsive(laptop){
            min-width: 600px;
            }

            @include responsive(tablet){
            min-width: 460px;
            }

           .div_cell{
               padding: 2px 15px;
               border: 1px solid #ddd;
               text-align: center;
               font-size: 16px;
               color: var(--text-color);

                @include responsive(laptop_M){
                    padding: 3px 4px;
                    font-size: 12px;
                }

                @include responsive(tablet){
                    padding: 2px 6px;
                    font-size: 10px;
                }
       
                .in_btn{
                    display: inline-block;
                }

                .btn{
                   color: var(--border-color);
                   font-size: 0.9rem;
                   width: 30px;
                   padding: 5px 8px;
                   border: none;
                   background: transparent;

                   &:hover{
                       background-color: var(--border-color);
                       color: var(--post-back-col);
                       text-align: center;
                   }

                   @include responsive(tablet){
                    border-radius: 5px;
                    width: 20px;
                    padding: 0px 1px;
                    font-size: 10PX;
                }
               }
           }
       }
   }

}

.admin_manage th{
    background-color: var(--primary-color);
    color: #fff;
}
#white_col{
    color: #fff;
}
.admin_manage tbody tr:nth-child(even){
    background-color: var(--table-back-col);
}
#overlay{   
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}


.page_div{
    margin-top: 4%;
    padding: 4% 0;

    .pagination{
        list-style-type: none;
        text-align: center;

        li{
            display: inline-block;

            .page_no{
                text-decoration: none;
                background: #183654;
                color: white;
                padding: 3px 9px;
                margin: 4px 4px;
                border-radius: 7px;
                font-size: 12PX;

                @include responsive(tablet){
                    
                    padding: 4px 11px;
                    border-radius: 5px;
                }
            }
        }
    }
}