@import 'navbar';
@import 'footer';
@import 'mixin';
@import 'validation';


body{
    margin: 0;
}

    .content_head{
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin: 6% 0;
        color: var(--text-color);

        @include responsive(tablet){
            font-size: 1.5rem;
        }
        @include responsive(mobile_M){
            font-size: 1.2rem;
        }
    }

    .new_post{
        border: 1px solid var(--text-color);
        width: 24%;
        margin: auto;
        padding: 12px 18px;
        text-align: center;
        margin-top: 7%;
        margin-bottom: 7%;
        

        @include responsive(laptop){
            width: 32%;
        }

        @include responsive(tablet){
            width: 57%;
        }
        @include responsive(mobile_S){
            width: 78%;
        }

        &:hover{
            background-color: var(--primary-color);
        }
        &:hover .newbtn{
            color: white;
        }

        .newbtn{
            text-decoration: none;
            color: var(--text-color);
            font-size: 20px;

           
        }
    }

    .blog_post{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    
    .blog_div {
        width: 270px;
        height: 500px;
        overflow: hidden;
        border-radius: 12px;
        background-color: var(--post-back-col);
        color: var(--text-color);
        margin: 2% 2%;
        position: relative;
        box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2);
 
        @include responsive(laptop_M){
            width: 220px;
            height: 392px;
        }

        @include responsive(laptop){
            
        }

        @include responsive(mobile_M){
            width: 100%;
            height: 100%;
            margin: 6% 0%;
            border-radius: 0;
        }



        .blog_img {
            height: 46%;

            @include responsive(laptop_M){
                
                height: 45%;
            }

            .main_img {
                width: 100%;
                height: 100%;
            }
        }

        .blog_data {
            overflow: auto;
            padding: 14px;

            @include responsive(laptop_M){
                padding: 10px;
            }
            @include responsive(mobile_M){
                width: 85%;
                margin: 6% 2%;
                min-height: 180px;
            }
    
           
            
            .head {
                margin: 1% 0;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
                color: var(--primary-color);

                @include responsive(laptop_M){
                    font-size: 1rem;
                }
            }

            .img_data {
                font-size: 1rem;
                line-height: 1.6;
                margin: 5% 1%;
                text-align: justify;
                color: #787c81;
                max-height: 140px;
                overflow-y: auto;


                @include responsive(laptop_M){
                    font-size: 0.7rem;
                    max-height: 115px;
                    overflow-y: auto;
                }
            }

            
            .author{
                font-size: 12px;
                color: #a2a1a9;
                position: absolute;
                right: 17px;
                bottom: 34px;
            }

            .read_btn {
                text-decoration: none;
                color: var(--text-color);
                position: absolute;
                bottom: 29px;
                color: white;
                font-size: 12px;
                padding: 5px 7px;
                box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2);
                border-radius: 5px;
                background-color: var(--scroll-col);
            }
        }

    }
}

