@import 'navbar';
@import 'footer';
@import 'mixin';


body{
    margin: 0;
}
        .content_div{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;

            .in_data{
            
                height: max-content;
                width: 55%;
                background: white;
            
                @include responsive(laptop){
                    width: 70%;
                }

                @include responsive(tablet){
                    width: 80%;
                }

                @include responsive(mobile_M){
                    width: 95%;
                }

                form{
                    margin: 7% 7%;

                    .head{
                        text-align: center;
                        font-size: 25px;
                        font-weight: bold;
                    }

                    .image_file{
                        height: 30px;
                        width: 100%;
                        margin: auto;
                        margin-top: 3rem;
                        line-height: 1.5;
    
                        .upload_file{
                            background: white;
                            width: 98%;
                            border: 1px solid;
                            font-size: 16px;
                            outline: none;
                            float: right;
                        }
                    }
                    
                    .form-group{
                        height: 30px;
                        width: 100%;
                        margin: auto;
                        margin-top: 3rem;
                        line-height: 1.5;
    
                        .label{
                            font-size: 16px;
                        }
    
                        .form-control{
                            height: 100%;
                            width: 100%;
                        }
                    }

                    .form-content{
                        height: 250px;
                        width: 100%;
                        margin: auto;
                        margin-top: 3rem;
                        line-height: 1.5;
    
                        .label{
                            font-size: 16px;
                        }
    
                        .form-control{
                            height: 100%;
                            width: 100%;
                        }
                    }
                    
                    // .create_content{
                    //     margin: 3% 0;
                    //     height: 300px;
                    //     width: 100%;
                    //     border-radius: 10px;
                    // }

                    .form-btn{
                        margin-top: 37px;
                        
                       
                        .button{
                            display: block;
                            width: 98%;
                            margin: auto;
                            background: #a2d1e7;
                            padding: 7px 0;
                            text-align: center;
                            color: #183654;
                            text-decoration: none;
                            border: 1px solid black;
                            margin-top: 2rem;
                            font-size: 16px;
                            font-weight: bold;

                            &:hover{
                                background: #183654;
                                color:#fff;
                            }
                        }
                        
                    }
                }
            }
        }


::-webkit-file-upload-button{
    color: #183654;
    background: #a2d1e7;
    padding: 8px;
    border: none;
    width: 30%;
    margin-right: 25px;
    box-shadow: 1px 0 1px 1px #6b4559;
    outline: none;
    font-size: 16px;
    font-weight: 700;
}
::-webkit-file-upload-button:hover{
    background: #183654;
    color: white;
}











