body, html {
  margin: 0;
  height: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6em;
  margin: 0 3%;
  background-color: transparent;
}

.navbar .logo {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

.navbar .nav {
  text-decoration: none;
  color: #fff;
  padding: 0 12px;
  font-size: 1.3rem;
}

.navbar .nav:hover {
  color: #052d4e;
  text-decoration: underline;
}

.main {
  background-image: url("../image/homebg.jpg");
  width: 100%;
  height: 100%;
}

.main .main_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  margin: auto;
  margin-top: 5%;
}

.main .main_div .box {
  position: relative;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid white;
  margin: 2.5rem;
  padding: 10px;
  background: #2d3963;
}

.main .main_div .box:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

.main .main_div .box:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  -webkit-filter: blur(40px);
          filter: blur(40px);
}

.box:before, .box:after {
  background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.img_div {
  background: url("../image/2.jpg");
  width: 100%;
  min-height: 60vh;
}

.img_div .quote {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffffd1;
  font-size: 3em;
}

.main, .img_div {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.info {
  background-color: #a1cae6f2;
  text-align: center;
  padding: 20px 40px;
}

.blog {
  width: 100%;
  background-color: #a1cae6f2;
}

.blog .content_head {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  padding: 6%;
}

.blog .blog_post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog .blog_post .blog_div {
  width: 320px;
  height: 500px;
  background-color: white;
  color: var(--text-color);
  margin: 2% 2%;
  position: relative;
  -webkit-box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.blog .blog_post .blog_div .blog_img {
  height: 46%;
}

.blog .blog_post .blog_div .blog_img .main_img {
  width: 100%;
  height: 100%;
}

.blog .blog_post .blog_div .blog_data {
  overflow: auto;
  padding: 14px;
}

.blog .blog_post .blog_div .blog_data .head {
  margin: 1% 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);
}

.blog .blog_post .blog_div .blog_data .img_data {
  font-size: 14px;
  line-height: 1.6;
  margin: 5% 1%;
}

.blog .blog_post .blog_div .blog_data .read_btn {
  text-decoration: none;
  color: var(--text-color);
  position: absolute;
  bottom: 29px;
  color: white;
  padding: 7px;
  -webkit-box-shadow: 0 6px 8px 1px black;
          box-shadow: 0 6px 8px 1px black;
  border-radius: 7px;
  background-color: #183654;
}

.blog_div:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
/*# sourceMappingURL=home.css.map */