@import 'nav';
@import 'footer';
@import 'mixin';
body,html{
    margin: 0;
    height: 100%;
}
@mixin text_deco_none{
    text-decoration: none;
    color: #fff;
}

.navbar {
    position: relative;
    z-index: 2;
}

.main{
    background-image: url("../image/2.jpg");
    width: 100%;
    height: 100vh;
    background-attachment: fixed;

    .main_div{
        display: flex;
        width: 65%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;

        .main_quote{
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #ffffffd1;
            font-size: 1rem;
            line-height: 1.4;
            text-align: justify;

            @include responsive(laptop){
                font-size: 0.9rem;
            }
            @include responsive(tablet){
                position: relative;
                margin-top: 45%;
                font-size: 0.85rem;
                width: 85%;
            }
            @include responsive(mobile_M){
                width: 100%;
                margin-top: 70%;
            }
        }
        
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        height: 100%;
        background: linear-gradient(
            90deg, #020001 0%, #090979 35%, #00d4ff 100%);
        opacity: 0.8;
    }
 }

.box:before, .box:after{
    background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}

.img_div{
    background: url("../image/2.jpg");
    width: 100%;
    min-height: 60vh;

    .quote{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #ffffffd1;
        font-size: 2.5rem;

        @include responsive(tablet){
            font-size: 2rem;
        }
    }
}

.main, .img_div{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    background-attachment: fixed;
}

.info_div{
    background-color: #a1cae6f2;
    text-align: center;
    padding: 30px 0px;

    @include responsive(laptop){
        font-size: 0.9rem;
    }
    @include responsive(tablet){
        font-size: 0.8rem;
    }

    .head{
        font-size: 1.8rem;
        color: #000;
        margin-bottom: 30px;
        font-weight: bold;

        @include responsive(tablet){
            font-size: 1.5rem;
            margin-bottom: 23px;
        }
        @include responsive(mobile_M){
            font-size: 1.3rem;
       
        }
    }

    .info_size{
        text-align: justify;
        font-size: 1rem;
        width: 85%;
        margin: auto;
        line-height: 1.4;

        @include responsive(laptop){
            font-size: 0.9rem;
        }
        @include responsive(tablet){
            font-size: 0.8rem;
        }
        @include responsive(mobile_M){
            width: 75%;
           
        }
    }
}

.blog{
    width: 100%;
    background-color: #a1cae6f2;
    padding-bottom: 8%;

    .content_head{
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        padding: 6% 0;

        @include responsive(tablet){
            font-size: 1.5rem;
        }
        @include responsive(mobile_M){
            font-size: 1.2rem;
        }
    }

    .blog_post{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;

        .blog_div {
            width: 270px;
            height: 500px;
            overflow: hidden;
            border-radius: 12px;
            background-color: white;
            color: var(--text-color);
            margin: 2% 2%;
            position: relative;
            box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2);
            transition: all 0.4s ease-in-out;
     
            @include responsive(laptop_M){
                width: 220px;
                height: 392px;
            }
    
            @include responsive(laptop){
                
            }
    
            @include responsive(mobile_M){
                width: 100%;
                height: 100%;
                margin: 6% 0%;
                border-radius: 0;
            }
    
           

            .blog_img {
                height: 46%;

                @include responsive(laptop_M){
                
                    height: 45%;
                }
    
                .main_img {
                    width: 100%;
                    height: 100%;
                }
            }

            .blog_data{
                
                overflow: auto;
                padding: 14px;
                
                @include responsive(laptop_M){
                    padding: 10px;
                }
                @include responsive(mobile_M){
                    width: 85%;
                    margin: 6% 2%;
                    min-height: 180px;
                }

                .head {
                    margin: 1% 0;
                    white-space: nowrap; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: black;

                    @include responsive(laptop_M){
                    font-size: 1rem;
                    }
                }
                .img_data {
                    font-size: 1rem;
                    line-height: 1.6;
                    margin: 5% 1%;
                    text-align: justify;
                    color: black;
                    max-height: 140px;
                    overflow-y: auto;
    
    
                    @include responsive(laptop_M){
                        font-size: 0.7rem;
                        max-height: 115px;
                        overflow-y: auto;
                    }
                }

                .author{
                    font-size: 12px;
                    color: #282829;
                    position: absolute;
                    right: 17px;
                    bottom: 34px;
                }

                .read_btn {
                    text-decoration: none;
                    position: absolute;
                    bottom: 29px;
                    color: white;
                    font-size: 12px;
                    padding: 5px 7px;
                    box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    background-color: #304e6b;
                }
            }
            
        }
    }
}

.blog_div:hover{
    transform: scale(1.05);
}













