@import 'partials/navbar';
@import 'partials/footer';
@import 'partials/mixin';


.body{
    margin: 0;
}

        .view{
            width: 82%;
            margin: auto;
            margin-top: 7%;
            margin-bottom: 12%;

            @include responsive(tablet){
                width: 90%;
            }

            @include responsive(mobile_M){
                width: 100%;
            }
            
            .view_title{
                padding: 18px 0;
                font-size: 2.5em;
                font-weight: bold;
                margin-left: 4px;

                @include responsive(tablet){
                    font-size: 2em;
                }

            }

            .img_div{
                margin: auto;

                .img{
                    width: 100%;
                    height: 100%;
                }
            }

            .content_div{
                padding: 3% 0;
                line-height: 1.5;

                @include responsive(mobile_M){
                    padding: 3% 2%;
                }

                .view_content{
                    font-size: 1em;

                    @include responsive(tablet){
                        font-size: 0.8em;
                    }
                }

                .view_btn{
                    display: flex;
                    justify-content: center;
                    margin: 45px 0;

                    @include responsive(mobile_M){
                        margin: 25px 0;
                    }

                    .button{
                        text-decoration: none;
                        border: none;
                        margin: 20px 15px;
                        border: 1px solid #183654;
                        background-color: #183654;
                        color: white;
                        font-size: 15px;
                        width: 66px;
                        text-align: center;
                        height: 28px;
                        align-items: center;
                        border-radius: 7px;

                    }
                    .edit_btn{
                        height: 26px;
                        line-height: 26px;
                    }
                }
            }
        }
   


