body{
    margin: auto;
    font-family: Roboto, Helvetica, sans-serif;
    color: black;
    background-color: rgb(191, 217, 224);
}
.navbar{
    background-color: #269de3;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_menu{
    text-decoration: none;
    color: #fff;
    margin: 7px;
}
.checkbtn{
    font-size: 25x;
    color: white;
}
.check{
    display: none;
}

@media screen and (max-width:800px){
    .checkbtn{
       display: block;
    }
    .nav-item{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 80px;
        width: 80%;
        background: blue;
        transition: all .5s;
    }
    .nav_menu{
        display: block;
    }
    .check~ul{
        left: 0 ;
    }
}