body{
    margin: auto;
    background-color: #54B689;
}

.container{
    display: flex;
    width: 69%;
    height: 500px;
    margin: auto;
    margin-top: 6%;
}
.left{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-image: url('./my_img/forest.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #f4efe9;
    justify-content: center;
    text-align: center;
}
.right{
    width: 70%;
    background-color: #f4efe9;
}

.text_deco_none{
    text-decoration: none;
    color: white;
    padding: 0 7px;
    font-size: 1.5em;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    margin: 0 3%;
 
}
.logo{
    font-family: 'Roboto', sans-serif;
    color: rgb(51, 88 ,51);
    font-size: 2em;
}

.navitem{
    font-size: 1.5em;
    color: white;
    padding: 0 7px;
}


/* leftside link */

.left_cont{
    font-size: 1.2em;
    margin: 0 3%;
}
.btn{
    font-size: 1.2em;
    color: #f4efe9;
    margin: 2% 15%;
    padding: 3% 0px;
}
.btn-success{
    background-color: #36a936;
}
.reg_link {
    margin-top: 10%;
    color: #36a936;
    
}
.reg_link:hover{
    text-decoration: underline;
    color: #d9e0af;
}

/* log form */
.log_container{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
    min-height: 70%;
}
.input{
    min-width: 300px;
}
.label{

}
.input .form-control{
    width: 100%;
    border: none;
    outline: none;
    background-color: #f4efe9;
    border-bottom: 1px solid black;
}
.input .form-control:focus,
.input .form-control:focus-visible{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}