@import 'mixin';

@mixin text_deco_none{
    text-decoration: none;
    color: #fff;
}
.navbar {
    height: 6em;
    padding: 0 6%;
    padding-top: 4%;

    .logo_div{
        display: inline;

        .logo{
            @include text_deco_none;
            font-size: 2rem;

            @include responsive(mobile_M){
                font-size: 1.5rem;
            }
        }
    }


    label{
        color: #fff;
        font-size: 2rem;
        display: none;   

        @include responsive(tablet){
            display: block;
            float: right;
            cursor: pointer;
        }
        @include responsive(mobile_M){
            font-size: 1.5rem;
        }
    }

    .navitem{
        float: right;

        @include responsive(tablet){
            display: none;
            width: 100%;
        }

        .nav{
            @include text_deco_none;
            padding: 0 12px;
            font-size: 1.3rem;
    
            @include responsive(tablet){
                display: block;
                margin: 22px 0;
            }

            &:hover{
                color: rgb(5, 45, 78);
                text-decoration: underline;
            }
        }
    }

    .toggle{
        display: none; 
    }

    input[type=checkbox]:checked ~ .navitem{
        
        @include responsive(tablet){
            text-align: center;
            display: block;

        }

    }
    
    

}
