@import 'mixin';

body{
    margin: auto;
    font-family: Roboto, Helvetica, sans-serif;
    color: black;
}

:root{
    --primary-color: #183654;
    --secondary-color: #a2d1e7;
    --ternary-color :#799aaa;
     --mode-color: #d4d1d1;
    --post-back-col: white;
    --text-color:black;
    --scroll-col:#304e6b;
}

.dark_theme{
    --primary-color: #1e2a3a;
    --secondary-color: #111821;
    --ternary-color: #223349; 
    --mode-color: #555557b9;
    --post-back-col: #1e2a3a;
    --text-color:white;
    --scroll-col:#1d2e44;
}

.container{
    width: 100%;
    display: flex;

    @include responsive(tablet){
        display: flex;
        flex-direction: column;
    }

    .content{
        width: 75%;
        background-color: var(--secondary-color);

        @include responsive(tablet){
            width: 100%;
        }
    }
}

// navbar
.navbar{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    overflow: scroll;
    padding: 2% 0;

    @include responsive(tablet){
        width: 100%;
        height: max-content;
        position: relative;
        top: 0;
        font-size: 0.8rem;
    }

    
       .mode{
        text-align: center;
        line-height: 1.5;
        margin: 11% 0;

        @include responsive(tablet){
            margin: 4% 0;
        }
        @include responsive(mobile_M){
            margin: 6% 0;
        }

        #toggle{
            position: relative;
            display: block;
            width: 69px;
            margin: auto;
            height: 25px;
            margin-top: 8%;
            border-radius: 160px;
            border: 4px solid var(--mode-color);
            transition: 0.5s;
            cursor: pointer;

            @include responsive(tablet){
                width: 57px;
                height: 20px;
                margin-top: 4%;
            }
            @include responsive(mobile_M){
                margin-top: 7%;
            }
        }
        
        .indicator{
            position: absolute;
            top: 3px;
            left: 4px;
            width: 23px;
            align-items: center;
            height: 19px;
            background-color: var(--mode-color);
            border-radius: 43%;
            transform: scale(0.9);
            transition: 0.5s;

            @include responsive(tablet){
                width: 25px;
                height: 14px;
            }
        }

        #toggle.active .indicator{
            left: 38px;
        }
    }

    .hr{
        background-color: rgba(255, 255, 255, 0.582);
        height: 1px;
        width: 85%;
        margin: auto;
        margin-top: 7%;

        @include responsive(tablet){
            margin: 4%;
        }
    }

    .name{
        color: white;
        font-size: 1.7rem;
        font-weight: bold;
        margin: 9%;
        text-align: center;

        @include responsive(tablet){
            margin: 3%;
            margin-top: 6%;
        }

        label{
            color: #fff;
            font-size: 1.7rem;
            display: none;   
    
            @include responsive(tablet){
                display: block;
                float: right;
                cursor: pointer;
            }
        }
    
    }

    .minimize{

        @include responsive(tablet){
            display: none;
            margin-top: 3%;
        }

       .profile{
            width: 100%;
            margin-top: 0;
            text-align: center;

            @include responsive(tablet){
                margin-top: 0;
            }

            .profle_pic{
                width: 145px;
                margin: auto;
                height: 145px;
                border-radius: 50%;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;

                @include responsive(mobile_M){
                    width: 120px;
                    height: 120px;
                }
    
                .initial{
                    font-size: 7em;
                    font-weight: bold;
                    color: #183654;

                    @include responsive(mobile_M){
                        font-size: 6em;
                    }
                }
                
            }

            .profile_info{
                color: white;
                margin: 9%;
                font-size: 1.2rem;
                text-align: center;
                padding: 0 5%;
                line-height: 1.5;

                @include responsive(tablet){
                    margin: 4%;
                    font-size: 1rem;
                }
                @include responsive(mobile_M){
                    margin: 7%;
                    font-size: 0.8rem;
                }
            }
    
        } 



        .nav{
            display: flex;
            flex-direction: column;
            text-align: center;
            line-height: 1.5;
            margin: 9% 0;

            @include responsive(tablet){
                margin: 4%;
            }
            @include responsive(mobile_M){
                margin: 6%;
            }

            .nav_block{
                margin: 4% 0;

                @include responsive(tablet){
                    margin: 3%;
                }
                @include responsive(mobile_M){
                    margin: 5%;
                }

            }
        }
        
        
    }

    .navitem{
        color: white;
        font-size: 1.2em;
        font-weight: bold;
    }
    .fas{
        color: white;
    }
    .text_deco_none{
        text-decoration: none;
    }
}

.filter{
    display: none;
    text-align: center;
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    margin: 9%;

    @include responsive(tablet){
        margin: 10px 0;
        font-size: 22px;
        line-height: 25px;
    }
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: var(--scroll-col);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, var(--scroll-col));
    border-radius: 6px;
}



