body{
    margin: auto;
    font-family: Roboto, Helvetica, sans-serif;
    color: black;
    background-color: rgb(208, 225, 230);
}

.post_notify {
    width: 80%;
    margin: auto;
    padding: 8px 22px;
    margin-top: 4%;
    color: green;
    background-color: #a1dfbd;
}

.navbarr{
    background-color: #269de3;
    color: white;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav_menu{
    text-decoration: none;
    color: #fff;
    margin: 7px;
}
.container{
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10%;
}
.text_center{
    text-align: center;
    margin: 4% 0;
    font-size: 1.5em;
}
.newbtn{
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 11px 16px;
}
.newbtn:hover{
    background-color: rgb(149, 150, 150);
    color: white;
    text-decoration: none;
}
.card{
    margin-top: 3em;
    background-color: white;
    color: black;
}
.card-body{
    width: 100%;
    height: 100%;
}
.card_head{
    height: 15%;
    text-align: center;
}
.card_data{
    height: 60%;
    font-size: 14px;
    overflow: hidden;
}
.btn_read{
    margin-top: 7%;
    height: 20%;
    margin-bottom: 5%;
}
.read_btn{
   
    color: rgb(110, 108, 108);
    text-decoration: underline;
}




/* view.php */
.view_container{
    margin: 8% 18%;
    
}
.view{
    background-color: white;
    padding: 2% 4%;
}
.view_content{
    overflow-wrap: break-word;
    line-height: 1.4;
    padding: 3% 2%;
}
.view_title{
    font-size: 2em;
}
.view_btn{
    display: flex;
    justify-content: center;
}
.button{
    border: 1px solid rgb(149,147,147);
    padding: 7px 14px;
    text-decoration: none;
    margin: 0 2%;
    font-size: 13px;
    color: black;
    border-radius: 7%;
    background-color: #e5e5e5;
}
.dlt_button{
    padding: 6px 10px;
    font-size: 13px;
   
}



/* edit.php */
.view_width{
    width: 100%;
}
.edit_content{
    width: 100%;
    margin: 2% 0;
    line-height: 1.5;
}
.up_btn{
    padding: 7px 20px;
}




/* create.php */

/* copied from welcome.css */






.block_button{
   
    display: flex;
    flex-direction: column;
    margin-top: 100px;
 
}
.block_div1{
    display: flex;
}
.block_div2{
    display: flex;
}
.link{
    text-decoration: none;
    padding: 2px 3px;
    background-color: rgb(156 155 158 / 32%);
    margin: 2px 3px;
    font-size: 15px;
    color: black;
}
.block_foot{
    color: rgb(104, 103, 103);
    font-size: 13px;
    margin: 4px 5px;
    margin-top: 30px;
}
.container{
    width: 65%;
    margin-left: 2%;
}
.back_img{
    width: 100%;
    height: 250px;
    background-image: url('./image/nature.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 250px;
    width:100%;
    height: 250px;
    
    border: 1px solid black;
}

.quote{
    color: #d6f3de;
    margin: 88px 21px;
    padding: -2px;
    line-height: 1.5;
    width: 250px;
}

.subcontainer{
    width: 100%;
}

.blog_img{
    height: 45%;
}
.main_img{
    width: 100%;
    height: 100%;
}
.blog_data{
    width: 90%;
    overflow: auto;
    padding: 14px;
    height: 55%;
    margin: 7px 3px;
}
.writer{
    margin-right: 11px;
    display: inline-block;
    float: right;
}
.img_data{
    font-size: 14px;
    line-height: 1.5;
    margin: 5% 1%;
}







.home_container{ 
    width:100%;
}
.blog_div{
    width: 350px;
    display: flex;
    flex-direction: column;
    height: 550px;
    margin: 2%;
    margin-top: 2em;
    background-color: white;
    color: #424040;
}
.blog_post{
    display: flex;
    justify-content: center;
}
