body{
    margin: auto;
    font-family: Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.container{
    display: flex;
    width: 100%;
}

/* leftcontainer */
.navbar{
    width: 25%;
    height: 100vh;
    background-color: #54B689;
    position: sticky;
    top: 0;
}
.filter{
    display: none;
    text-align: center;
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    margin: 9%;
}
.profile{
    width: 100%;
    margin-top: 15%;
    text-align: center;
}
.name{
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    margin: 9%;
    text-align: center;
}
.initial{
    font-size: 8em;
    font-weight: bold;
    color: gray;
}
.profle_pic{
    width: 160px;
    margin: auto;
    height: 170px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.profile_info{
    color: white;
    margin: 9%;
    font-size: 1.2em;
    text-align: center;
    padding: 0 5%;
    line-height: 1.5;
}
.hr{
    background-color: rgba(255, 255, 255, 0.582);
    height: 1px;
    width: 85%;
    margin: auto;
    margin-top: 7%;
}

/* navbar navitem */

.nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.5;
    margin: 9% 0;
}

.nav_block{
    margin: 4% 0;
}

.navitem{
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}
.fas{
    color: white;
}
.text_deco_none{
    text-decoration: none;
}


/* right container */
.content{
    background-color: #d0cccce8;
    width: 75%;

}
.content_head{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin: 6%;
}


/* bloglist */


.blog_post{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.blog_div{
    width: 350px;
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: white;
    color: #424040;
    margin: 2% 2%;
}
.blog_img {
    height: 50%;

}
.main_img{
    width: 100%;
    height: 100%;
}
.blog_data{
    width: 90%;
    overflow: auto;
    padding: 14px;
    height: 55%;
    margin: 7px 3px;
}
.head {
    margin: 1% 0;
}
.img_data{
    font-size: 14px;
    line-height: 1.6;
    margin: 5% 1%;
}

.read_btn{
    text-decoration: none;
    color: black;
}



@media screen and (max-width:1024px) {
    .navbar{
        width: 35%;
        
    }
}




 @media screen and (max-width:850px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .filter {
        margin: 10px 0;
        font-size: 22px;
        line-height: 25px;
    }
    .minimize{
        display: none;
    }
    .navbar{
        width: 100%;
        height: max-content;
        position: relative;
        background-color: #54B689;
        top: 0;
    }
    .content {
       width: 100%;
    }
    .content_head {
        font-size: 2.2em;
    }
    .name {
        font-size: 2.5em;
        font-weight: bold;
        margin: 5%;
    }
} 

